*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: 0.5s ease-in-out;
}

body::-webkit-scrollbar {
  width: 0px; /* ширина scrollbar */
}

html {
  scroll-behavior: smooth;
}

h1 {
  text-transform: uppercase;
  font-size: 5em;
  text-align: center;
  font-weight: 400;
}
h5 {
  font-size: 2em;
}

body {
  font-family: "Vollkorn", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  width: 100%;
  font-style: normal;
  overflow-x: hidden;
  margin: 0 auto;
}
.wrapper {
  margin: 0;
  width: 100%;
  padding: 0 20px;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
}
.container_title {
  max-width: 1200px;
  margin: auto;
  padding-top: 150px;
}
.container_title p {
  font-size: 1.5em;
  text-align: center;
  padding-bottom: 20px;
}
hr {
  margin: 25px auto;
  width: 10%;
  height: 5px;
  background-color: rgb(141, 164, 182, 0.7);
}

p,
q,
b {
  text-align: justify;
  font-size: 1.3em;
  font-family: "Mulish";
}

a {
  font-family: "Mulish";
  text-decoration: none;
  color: inherit;
}
.navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}
.nav-button {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  gap: 30px;
  cursor: pointer;
  background: none;
  border: none;
}
.arrow-right {
  display: flex;
  justify-content: flex-start;
}

.arrow-left {
  display: flex;
  justify-content: flex-end;
}
.arrow-left img {
  width: 60%;
}
.arrow-right img {
  width: 60%;
  transform: rotate(180deg);
}
.nav-title {
  font-size: 1em;
  color: #000;
  display: inline-block;
  white-space: nowrap; /* не переносить */
  font-weight: bold;
}


@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.5em;
  }
  .container_title {
    padding-top: 100px;
  }
  .container_title p {
    font-size: 1em;
    padding-bottom: 0px;
  }
  hr {
    margin: 10px auto;
    height: 3px;
  }

  p {
    margin: 0 auto;
    font-size: 0.7em;
  }
  .navigation {
    margin-bottom: 30px;
  }
  .nav-button {
    display: flex;
    align-items: center;
    padding: 10px 0px;
    gap: 7px;
    cursor: pointer;
    background: none;
    border: none;
  }

  .arrow-left img {
    width: 30%;
  }
  .arrow-right img {
    width: 30%;
  }
  .nav-title {
    font-size: 0.7em;
    width: 60%;
    white-space: wrap;
  }
  
}
@media screen and (max-width: 482px) {
  h1 {
    font-size: 1.4em;
  }
  .container_title {
    padding-top: 100px;
  }
  .container_title p {
    font-size: 0.7em;
    padding-bottom: 0px;
  }
  hr {
    margin: 10px auto;
    height: 3px;
  }

  p {
    font-size: 0.7em;
  }
  .navigation {
    margin-bottom: 30px;
  }
  .nav-button {
    display: flex;
    align-items: center;
    padding: 10px 0px;
    gap: 7px;
    cursor: pointer;
    background: none;
    border: none;
  }

  .arrow-left img {
    width: 30%;
  }
  .arrow-right img {
    width: 30%;
  }
  .nav-title {
    font-size: 0.5em;
    width: 60%;
    white-space: wrap;
  }
}
