*,
*:after,
*:before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	transition: 0.5s ease-in-out;
}

body::-webkit-scrollbar {
	width: 0px; /* ширина scrollbar */
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Vollkorn', serif;
	font-optical-sizing: auto;
	font-weight: 400;
	width: 100%;
	font-size: 16px;
	font-style: normal;
	overflow-x: hidden;
	margin: 0 auto;
}
h1 {
	text-transform: uppercase;
	font-size: 3.5em;
	text-align: center;
	font-weight: 400;
}
h2 {
	font-size: 2.5em;
}
h5 {
	font-size: 2em;
}
.wrapper {
	margin: 0;
	width: 100%;
	padding: 0 20px;
}

.container {
	padding: 0 20px;
	margin: 0 auto;
}
.container_title {
	max-width: 1200px;
	margin: auto;
	padding-top: 150px;
}
.container_title p,
.section-about p {
	font-size: 1.1em;
	text-align: center;
	padding-bottom: 20px;
}
hr {
	margin: 25px auto;
	width: 10%;
	height: 5px;
	background-color: rgb(141, 164, 182, 0.7);
}

p,
q,
b {
	text-align: justify;
	font-size: 1.1em;
	font-family: 'Mulish';
}

a {
	font-family: 'Mulish';
	text-decoration: none;
	color: inherit;
}
.navigation {
	display: flex;
	justify-content: space-between;
	margin-bottom: 70px;
	gap: 200px;
}
.nav-button {
	display: flex;
	flex: 1;
	padding: 0 20px;
	cursor: pointer;
	background: none;
	border: none;
}
.arrow-right {
	display: flex;
	flex: 1;
	justify-content: flex-start;
}

.arrow-left {
	display: flex;
	flex: 1;
	width: 30%;
	justify-content: flex-end;
}
.arrow-left img {
	max-width: 50px;
}
.arrow-right img {
	max-width: 50px;
	transform: rotate(180deg);
}
.nav-title {
	flex: 2;
	font-family: 'Vollkorn', serif;
	white-space: nowrap; /* не переносить */
	font-weight: bold;
}

@media screen and (max-width: 1600px) {
	h1 {
		font-size: 2.5em;
	}
	h2 {
		font-size: 2em;
	}
	.container_title {
		padding-top: 100px;
	}
	.container_title p,
	.section-about p {
		font-size: 0.9em;
		padding-bottom: 20px;
	}
	p,
	q {
		font-size: 0.9em;
		padding-bottom: 0px;
	}
	hr {
		margin: 10px auto;
		height: 3px;
	}

	.navigation {
		margin-bottom: 30px;
	}
	.nav-button {
		display: flex;
		align-items: center;
		flex: 1;
		justify-content: space-between;
	}
	.arrow-left img {
		width: 30%;
	}
	.arrow-right img {
		width: 30%;
	}
	.nav-title {
		font-size: 0.7em;
		width: 60%;
		white-space: wrap;
	}
}

@media screen and (max-width: 1000px) {
	h1 {
		font-size: 2em;
	}
	h2 {
		font-size: 1.75em;
	}
	.container_title {
		padding-top: 100px;
	}
	.container_title p,
	.section-about p {
		font-size: 0.85em;
		padding-bottom: 20px;
	}
	p,
	q {
		font-size: 0.85em;
		padding-bottom: 0px;
	}
	hr {
		margin: 10px auto;
		height: 3px;
	}

	.navigation {
		margin-bottom: 30px;
		gap: 50px;
	}
	.nav-button {
		display: flex;
		align-items: center;
		gap: 7px;
	}

	.arrow-left img {
		width: 30%;
	}
	.arrow-right img {
		width: 30%;
	}
	.nav-title {
		font-size: 0.7em;
		width: 60%;
		white-space: wrap;
	}
}
@media screen and (max-width: 482px) {
	h1 {
		font-size: 1.4em;
	}
	h2 {
		font-size: 1.3em;
	}
	.container_title {
		padding-top: 100px;
	}
	.container_title p,
	.section-about p {
		font-size: 0.8em;
		padding-bottom: 20px;
	}
	p {
		font-size: 0.8em;
		padding-bottom: 0px;
	}
	hr {
		margin: 10px auto;
		height: 3px;
	}

	.navigation {
		margin-bottom: 30px;
		gap: 50px;
	}
	.nav-button {
		display: flex;
		align-items: center;
		padding: 10px 0px;
		gap: 7px;
		cursor: pointer;
		background: none;
		border: none;
	}

	.arrow-left img {
		width: 30%;
	}
	.arrow-right img {
		width: 30%;
	}
	.nav-title {
		font-size: 0.5em;
		width: 60%;
		white-space: wrap;
	}
}
