*,
*:after,
*:before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	transition: 0.5s ease-in-out;
}

body::-webkit-scrollbar {
  width: 0px;               /* ширина scrollbar */
}


html {
	scroll-behavior: smooth;
}

h1 {
	text-transform: uppercase;
	font-size: 5em;
	text-align: center;
	font-weight: 400;
}
h5 {
	font-size: 2em;
}

body {
	font-family: 'Vollkorn', serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
.wrapper {
	width: 100%;
}

.container {
	padding: 0 20px;
	margin: 0 auto;
}
.container_title p {
	font-size: 1.5em;
	padding-bottom: 30px;
	max-width: 1130px;
	margin: 0 auto;
}
hr {
	margin: 25px auto;
	width: 5%;
	height: 5px;
	background-color: rgb(141, 164, 182, 0.7);
}

p {
	text-align: center;
}

@media (min-width: 1024px) {
}
